<template>
  <div>
    <div class="header">
      <h1>profile</h1>
    </div>
    <div class="container mt-4">
      <h1>nama : ahmad Yunus Wiodo</h1> <br>
      <h1>Kota : Surabaya</h1> <br>
      <h1>Umur : 23</h1> <br>
      <h1>Profesi : Software Enginer</h1>
    </div>
  </div>
</template>

<script>
export default {
  layout: "simple",
};
</script>

<style lang="scss" scoped>
.header {
  margin-top: -200px;
  padding: 20px;
  text-align: center;
  border: 2px solid #73ad21;
  color: blue;
}
</style>>
    